* {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    text-align: left;
}

/*第一层的样式*/
/*第一层td的展开的样式*/
.td_1_open {
    background: url(../images/td_1_open.jpg) no-repeat;
    text-indent: 30px;
    line-height: 26px;
    text-decoration: none;
    color: #5b81b2;
    font-size: 13px;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 0px;
    cursor: hand;
}

/*第一层td的关闭的样式*/
.td_1_close {
    background: url(../images/td_1_close.jpg) no-repeat;
    text-indent: 30px;
    line-height: 26px;
    text-decoration: none;
    color: #5b81b2;
    font-size: 13px;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 0px;
    cursor: hand;
}

/*第一层td的没有子节点的样式*/
.td_1_nochild {
    background: url(../images/td_1_nochild.jpg) no-repeat;
    text-indent: 30px;
    line-height: 26px;
    text-decoration: none;
    color: #5b81b2;
    font-size: 13px;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 0px;
    cursor: hand;
}

.td_1_nochild_on {
    background: url(../images/td_1_nochild_on.jpg) no-repeat;
    text-indent: 30px;
    line-height: 26px;
    text-decoration: none;
    color: #5b81b2;
    font-size: 13px;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 0px;
    cursor: hand;
}

/*第一层td的关闭的样式*/
.td_1_over {
    background: url(../images/td_1_open.jpg) no-repeat;
    text-indent: 30px;
    line-height: 26px;
    text-decoration: underline;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 0px;
    cursor: hand;
}

/*第二层的样式*/
/*第二层td展开的样式*/
.td_2_open {
    background: url(../images/td_2_open.jpg) no-repeat 0px 0px;
    text-indent: 35px;
    line-height: 26px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    padding-top: 2px;
    padding-bottom: 0px;
    cursor: hand;
}

/*第二层td关闭的样式*/
.td_2_close {
    background: url(../images/td_2_close.jpg) no-repeat;
    text-indent: 35px;
    line-height: 26px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    padding-top: 2px;
    padding-bottom: 0px;
    cursor: hand;
}

/*第二层td没有子节点的样式*/
.td_2_nochild {
    background: url(../images/td_2_nochild.jpg) no-repeat;
    text-indent: 35px;
    line-height: 26px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    padding-top: 2px;
    padding-bottom: 0px;
    cursor: hand;
}

.td_2_nochild_on {
    background: url(../images/td_2_nochild_on.jpg) no-repeat;
    text-indent: 35px;
    line-height: 26px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    padding-top: 2px;
    padding-bottom: 0px;
    cursor: hand;
}

/*第三层的样式*/
/*第三层td展开的样式*/
.td_3_open {
    background: url(../images/td_3_open.jpg) no-repeat 0px 0px;
    text-indent: 45px;
    line-height: 26px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    padding-top: 2px;
    padding-bottom: 0px;
    cursor: hand;
}

/*第三层td展开的样式*/
.td_3_open_over {
    background: url(../images/td_3_open_over.jpg) no-repeat 0px 0px;
    text-indent: 45px;
    line-height: 26px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    padding-top: 2px;
    padding-bottom: 0px;
    cursor: hand;
}

/*第三层td关闭的样式*/
.td_3_close {
    background: url(../images/td_3_close.jpg) no-repeat;
    text-indent: 45px;
    line-height: 26px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    padding-top: 2px;
    padding-bottom: 0px;
    cursor: hand;
}

.td_3_close_over {
    background: url(../images/td_3_close_over.jpg) no-repeat;
    text-indent: 45px;
    line-height: 26px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    padding-top: 2px;
    padding-bottom: 0px;
    cursor: hand;
}